ul.nav.navbar-nav.navbar-right{
  padding-top: 1.3%;
  padding-right: 1.5%;
}
a.news-big-word.text-right{
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  white-space: pre;
  background-color: rgba(239, 239, 239, 0.8);
  cursor: pointer;
}
.fixed{
  position: fixed;
  top:0;
  z-index: 10000;
  width:100%;
}
.news-big-word{
  font-family: Helvetica-Bold;
  font-weight: bold;
  color: #070707;
  font-size: 1.7vw;
  background-color: rgba(255, 255, 255, 0.8);
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color:black;
}
#news-navbar-collapse{
  background-color: rgba(239, 239, 239, 0.8);
}
#news-logo-container{
  height: 100%;
  padding-top: 1%;
  padding-bottom: 0px;
}
@media screen and (max-width: 1030px) and (min-width: 768px){
.news-big-word {
        font-size: 1.5vw;
         }
#news-logo-cointainer{
  padding-right: 0px;
}
#news-logo{
  width: 80%;
  margin-right: -20px;
}
}
@media screen and (min-width: 768px){
  #right-nav{
    padding-right: 5vw;
  }

}
@media screen and (max-width: 767px){
  .news-big-word {
        font-size: 1.8vw;
         }
#news-logo-cointainer{
  padding-right: 0px;
}
#news-logo{
  width: 50%;
  margin-right: -20px;
}
}

#news-navbar{
  font-family: Helvetica-Bold;
  background-color: rgba(239, 239, 239, 0.8);
  margin-bottom: 0%;
}
.nav>li>a>img{
  vertical-align: top;
}

.section-heading{
  font-family: Helvetica-Bold;
  font-size: 3.2vmax;
  color: #606366;
  margin-top: 11%;
  text-align: center;
}
.date-text{
  font-family: HiraKakuPro-W3;
  font-size: 1.2vmax;
  line-height: 1.94;
  color: #666666;
  margin-top: 3%;
}
.blue-text{
  color: #6ab2ce;
  font-family: HiraKakuPro-W6;
  font-size: 2.0vmax;
  cursor: pointer;
  word-wrap: break-word;
}
.num-btn{
  background-color: #ffffff;
  border: solid 1px #6ab2ce;
  margin-right: 1%;
  margin-top: 2%;
}
.blue-number{
  font-family: HiraKakuPro-W3;
  text-align: center;
  color: #6ab2ce;
  font-size: 1.5vmax;
}
.gray-footer{
  background-color: rgba(239, 239, 239, 0.8);
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 3%;
}
.footer-text{
  font-family: Helvetica;
  font-size: 1.4vmax;
  font-weight: bold;
  text-align: center;
  color: #000000;
}