doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=udn09kqe55cxwxzel1awbyhtspmite5eyl5uu8ygdnpjoec8")
    script(src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous")
    script(src="/javascripts/help.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    block content
    script(src='/javascripts/app.js')